RewriteEngine on

RewriteRule ^style ./assets/pg/admins/css/style.css [NC,L]
RewriteRule ^stylelogin ./assets/pg/admins/css/stylelogin.css [NC,L]

RewriteRule ^bg1 ./assets/pg/admins/img/bg1.png [L]
RewriteRule ^LOGO ./assets/pg/admins/img/LOGO233.png [L]

RewriteRule ^home-page ./assets/pg/admins/img/home-page.png [L]
RewriteRule ^university ./assets/pg/admins/img/university.png [L]
RewriteRule ^C1 ./assets/pg/admins/img/C1.png [L]
RewriteRule ^department ./assets/pg/admins/img/department.png [L]
RewriteRule ^information-department ./assets/pg/admins/img/information-department.png [L]
RewriteRule ^Subjects ./assets/pg/admins/img/Subjects.png [L]
RewriteRule ^graduated ./assets/pg/admins/img/graduated.png [L]
RewriteRule ^admin ./assets/pg/admins/img/admin.png [L]
RewriteRule ^Support ./assets/pg/admins/img/Support.png [L]
RewriteRule ^projects ./assets/pg/admins/img/projects.png [L]
RewriteRule ^business ./assets/pg/admins/img/business.png [L]
RewriteRule ^A1 ./assets/pg/admins/img/A1.png [L]
RewriteRule ^E1 ./assets/pg/admins/img/E1.png [L]
RewriteRule ^exit ./assets/pg/admins/img/exit.png [L]
RewriteRule ^ImgSettings ./assets/pg/admins/img/ImgSettings.png [L]


RewriteRule ^login ./assets/pg/admins/login.php [NC,L]
RewriteRule ^logout ./assets/pg/admins/logout.php [NC,L]

RewriteRule ^home ./assets/pg/admins/home.php [NC,L]
RewriteRule ^colleges ./assets/pg/admins/colleges.php [NC,L]
RewriteRule ^courses ./assets/pg/admins/courses.php [NC,L]
RewriteRule ^universities ./assets/pg/admins/universities.php [NC,L]
RewriteRule ^inf_departments ./assets/pg/admins/inf_departments.php [NC,L]
RewriteRule ^top_students ./assets/pg/admins/top_students.php [NC,L]
RewriteRule ^My_Admins ./assets/pg/admins/My_Admins.php [NC,L]
RewriteRule ^student_projects ./assets/pg/admins/student_projects.php [NC,L]
RewriteRule ^career_opportunities ./assets/pg/admins/career_opportunities.php [NC,L]
RewriteRule ^support ./assets/pg/admins/support.php [NC,L]
RewriteRule ^test ./assets/pg/admins/test.html [NC,L]
RewriteRule ^ShowDepartment ./assets/pg/admins/ShowDepartment.php [NC,L]
RewriteRule ^ShowCollege ./assets/pg/admins/ShowCollege.php [NC,L]
RewriteRule ^Settings ./assets/pg/admins/Settings.php [NC,L]
RewriteRule ^message ./assets/pg/admins/message.php [NC,L]
RewriteRule ^Msg2FA ./assets/pg/admins/Msg2FA.php [NC,L]
RewriteRule ^Mail-2FA ./assets/pg/admins/Mail-2FA.php [NC,L]



RewriteRule ^add_admin ./assets/pg/admins/add/add_admin.php [NC,L]
RewriteRule ^add_departments ./assets/pg/admins/add/add_departments.php [NC,L]
RewriteRule ^add_universities ./assets/pg/admins/add/add_universities.php [NC,L]
RewriteRule ^add_colleges ./assets/pg/admins/add/add_colleges.php [NC,L]
RewriteRule ^add_courses ./assets/pg/admins/add/add_courses.php [NC,L]
RewriteRule ^add_top_studens ./assets/pg/admins/add/add_top_studens.php [NC,L]
RewriteRule ^add_student_projects ./assets/pg/admins/add/add_student_projects.php [NC,L]
RewriteRule ^add_career_opportunities ./assets/pg/admins/add/add_career_opportunities.php [NC,L]
RewriteRule ^get_colleges ./assets/pg/admins/add/get_colleges.php [NC,L]
RewriteRule ^get_inf_departments ./assets/pg/admins/add/get_inf_departments.php [NC,L]
RewriteRule ^jquery-3.6.0.min ./assets/pg/admins/add/jquery-3.6.0.min.js [NC,L]
RewriteRule ^Get_ScriptFunction ./assets/pg/admins/add/Get_ScriptFunction.js [NC,L]
RewriteRule ^displayImage ./assets/pg/admins/add/displayImage.js [NC,L]


RewriteRule ^delete_universities ./assets/pg/admins/delete/delete_universities.php [NC,L]
RewriteRule ^delete_colleges ./assets/pg/admins/delete/delete_colleges.php [NC,L]
RewriteRule ^delete_inf_departments ./assets/pg/admins/delete/delete_inf_departments.php [NC,L]
RewriteRule ^delete_courses ./assets/pg/admins/delete/delete_courses.php [NC,L]
RewriteRule ^delete_top_students ./assets/pg/admins/delete/delete_top_students.php [NC,L]
RewriteRule ^delete_student_projects ./assets/pg/admins/delete/delete_student_projects.php [NC,L]
RewriteRule ^delete_career_opportunities ./assets/pg/admins/delete/delete_career_opportunities.php [NC,L]
RewriteRule ^delete_My_Admins ./assets/pg/admins/delete/delete_My_Admins.php [NC,L]

RewriteRule ^edit_universitys ./assets/pg/admins/edit/edit_universitys.php [NC,L]
RewriteRule ^edit_colleges ./assets/pg/admins/edit/edit_colleges.php [NC,L]
RewriteRule ^edit_inf_departments ./assets/pg/admins/edit/edit_inf_departments.php [NC,L]
RewriteRule ^edit_top_students ./assets/pg/admins/edit/edit_top_students.php [NC,L]
RewriteRule ^edit_student_projects ./assets/pg/admins/edit/edit_student_projects.php [NC,L]
RewriteRule ^edit_courses ./assets/pg/admins/edit/edit_courses.php [NC,L]
RewriteRule ^edit_career_opportunities ./assets/pg/admins/edit/edit_career_opportunities.php [NC,L]
RewriteRule ^edit_My_Admins ./assets/pg/admins/edit/edit_My_Admins.php [NC,L]

RewriteRule ^Show_top_student ./assets/pg/Show_top_student.php [NC,L]
RewriteRule ^Show_Inf_university ./assets/pg/Show_Inf_university.php [NC,L]
RewriteRule ^Show_Inf_college ./assets/pg/Show_Inf_college.php [NC,L]
RewriteRule ^Show_Inf_department ./assets/pg/Show_Inf_department.php [NC,L]