@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap");

*/ html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  border: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}
label,
img {
  display: block;
}
input {
  font: inherit;
  width: 100%;
  border: none;
}
ion-icon,
span {
  display: inline-block;
}
a {
  text-decoration: none;
}
:root {
  --primary: #111822;
  --sec: #23a0a9;
  --neutral: #f1efef;
  --light-color: #e1e5ea;
  --light-color2: #cdd0cb;
  --bord: rgb(226 232 240);
  --border: solid rgb(226 232 240);
  --heart: #d80032;

  --onyx: hsl(0, 0%, 25%);
  --azure: hsl(219, 77%, 60%);
  --white: hsl(0, 0%, 100%);
  --platinum: hsl(0, 0%, 91%);
  --gainsboro: hsl(0, 0%, 90%);
  --red-salsa: hsl(0, 77%, 60%);
  --dim-gray: hsl(0, 0%, 39%);
  --davys-gray: hsl(0, 0%, 30%);
  --spanish-gray: hsl(0, 0%, 62%);
  --quick-silver: hsl(0, 0, 64%);

  --fs-28: 28px;
  --fs-24: 24px;
  --fs-18: 18px;
  --fs-15: 15px;
  --fs-14: 14px;
  --fs-12: 12px;
  --fw-5: 500;
  --fw-6: 600;
  --fw-7: 700;

  --px: 50px;
  --px-30-15: 30px;
  --radius: 5px;

  --box-shadow: 0 8px 10px -6px rgb(0 0 0 / 0.2);
  --main-font: "Tajawal", sans-serif;
}

* {
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  transition: width 0.2s none;
}

body {
  margin: 0;
  padding: 0;
  color: #000;
  align-items: center;
  justify-content: center;
  font-family: "Tajawal", sans-serif;
  background-color: #f8fafc;
  direction: rtl;
  position: relative;
}
input {
  text-transform: none;
}
.header {
  display: flex;
  width: 100%;
  height: 45px;
  color: #f1efef;
  background-color: var(--primary);
  align-items: center;
  justify-content: center;
}

.header.hide {
  display: none;
}
.header .fa-solid {
  position: absolute;
  right: 18px;
}
.header .fa-solid:hover {
  color: #a80909;
  cursor: pointer;
}
.header p {
  margin-bottom: 0;
}
.navbar {
  display: flex;
  gap: 1.5em;
  background-color: #fff;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0;
  z-index: 990;
}
.navbar .search-from {
  width: auto;
  height: 40px;
  border: 1px solid #cdd0cb;
  overflow: hidden;
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0 10px;
  position: relative;
}
.navbar .search-from:hover {
  outline: none;
  border-color: var(--sec);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgba(3, 217, 255, 0.1);
}
.navbar .search-from input {
  font-size: 1.1em;
  height: 100%;
  width: 100%;
  padding-right: 10px;
  text-transform: none;
  color: var(--primary);
}
.navbar .search-from i {
  margin-right: 10px;
}

#search-results {
  width: calc(100% - 79%);
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  position: absolute;
  top: 60px;
  left: 12.5%;
  z-index: 999;
  max-height: 200px;
  overflow-y: auto;
}
.navbar .search1{
  display: none;
}
.navbar #search-results div {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  border-bottom: 0.5px solid var(--primary);
  margin-bottom: 5px;
}
.navbar #search-results div p {
  margin-top: 5px;
  font-size: 15px;
  color: var(--spanish-gray);
}

.navbar #search-results div:hover p {
  color: #fff; 
}

.navbar #search-results div:hover {
  background-color: var(--sec);
  color: #fff;
}

.navbar .nav-menu {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 0;
}
.navbar .nav-item {
  font-size: 1em;
  padding: 8px 15px;
  border-bottom: 2px solid var(--primary);
  font-weight: 700;
  cursor: pointer;
}
.navbar .nav-item:hover {
  color: var(--sec);
  border-bottom: 2px solid var(--sec);
}
.navbar .nav-menu ul[class^="menu-dep"] {
  border-radius: 5px;
  background-color: var(--primary);
  color: #fff;
  padding: 5px 0;
  width: max-content;
  display: none;
  position: absolute;
  top: 30px;
  transition: 0.3s all;
  z-index: 999;
}
.navbar .nav-menu ul[class^="menu-dep"] li {
  padding: 10px 15px;
  font-size: 0.8em;
  font-weight: 500;
}
.navbar .nav-menu ul[class^="menu-dep"] li:hover {
  background-color: var(--sec);
  padding: 10px 25px 10px 10px;
  cursor: pointer;
}
.active {
  position: relative;
}
.navbar .nav-menu .active:hover ul[class^="menu-dep"] {
  display: block;
}
.navbar img {
  width: 3em;
}
.control {
  padding: var(--px);
}
.control section {
  width: 100%;
  overflow: hidden;
}
.control section .pagimation_ {
  max-height: 70px;
  padding: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.control section .pagimation_ .btn-grup {
  position: absolute;
  left: 0px;
  display: flex;
  gap: 10px;
}

.control section .pagimation_ .btn-grup div[class^="swiper-btn"]::after {
  display: none;
}

.control section .pagimation_ .btn-grup div[class^="swiper-btn"] {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  border-radius: 5px;
  border: 1px solid #94a3b8;
}
.control section .pagimation_ .btn-grup div[class^="swiper-btn"]:hover {
  cursor: pointer;
}
.control section .pagimation_ .btn-grup div i {
  font-size: 18px;
  color: #000;
}

.control section .pagimation_ h3 {
  padding: 5px;
  font-size: 22px;
  font-weight: 500;
}

.control section div[class^="swiper"],
.control section .BestSellers {
  width: 100%;
  height: auto;
  margin: 0;
  border-top: 2px solid #f1f5f9;
  display: flex;
  align-items: space-between;
}

.control section .swiper-wrapper {
  padding: 15px 0;
}

.control section .swiper-slide {
  height: auto;
}
.control section div[class^="swiper"] .swiper-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}
.control .card {
  border: 1px solid var(--gainsboro);
  border-radius: 5px;
  width: 300px;
  position: relative;
  box-shadow: var(--box-shadow);
}

.control .card img {
  padding: 10px;
}

.control .card .text-card {
  margin: 10px 0;
  padding: 5px 8px 0 8px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-height: 150px;
}

.control .card .text-card .title {
  font-family: var(--main-font);
  font-size: 1.2em;
  color: var(--primary);
  margin-bottom: 8px;
}

.control .card .text-card p {
  font-family: var(--main-font);
  font-size: 0.9em;
  color: var(--onyx);
  margin-bottom: 8px;
}

.control .card .text-card button {
  width: 100%;
  text-align: center;
  background-color: var(--sec);
  color: var(--white);
  padding: 0.8em;
  border: 1px solid var(--sec);
  border-radius: 5px;
  margin-top: auto;
}

.control .card .text-card button:hover {
  background-color: var(--white);
  color: var(--sec);
}
footer {
  background-color: var(--primary);
  color: #fff;
}
footer .control {
  display: flex;
  gap: 1em;
  padding: 15px 20px;
  border-bottom: 1px solid var(--gainsboro);
}
footer .control .about {
  flex: 1;
  padding: 10px 15px;
  line-height: 1.5;
}
footer .control .about h3 {
  margin-bottom: 15px;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1;
}
footer .control .feedback {
  flex: 1;
  padding: 10px 15px;
}
footer .control .feedback h3 {
  margin-bottom: 15px;
  font-size: 1.5em;
  font-weight: 700;
}
footer .control .feedback form {
  display: grid;
  gap: 10px;
}
footer .control .feedback form input {
  font-size: 18px;
  width: 100%;
  border: 1px solid #efefef;
  background-color: #efefef;
  padding: 10px 15px;
  display: block;
  border-radius: 5px;
}
footer .control .feedback form input[type="submit"] {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #23a0a9;
  background-color: #23a0a9;
  padding: 10px 15px;
  cursor: pointer;
}
footer .control .feedback form input[type="submit"]:hover {
  color: #23a0a9;
  background-color: #fff;
}
footer .control .feedback form textarea {
  font-size: 18px;
  width: 100%;
  border: 1px solid #efefef;
  background-color: #efefef;
  padding: 10px 15px;
  display: block;
  border-radius: 5px;
  height: 100px;
}
footer .control .contact_information {
  flex: 1;
  padding: 10px 15px;
}
footer .control .contact_information h3 {
  margin-bottom: 15px;
  font-size: 1.5em;
  font-weight: 700;
}
footer .control .contact_information .grop {
  display: grid;
  gap: 15px;
}
footer .control .contact_information .grop div {
  display: flex;
  gap: 8px;
}
footer .control .contact_information .grop div:hover {
  color: var(--sec);
  cursor: pointer;
}
footer .copy p {
  width: 100%;
  padding: 8px 20px;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  footer .control {
    flex-direction: column;
  }
  footer .control > * {
    width: 100%;
    margin-bottom: 20px;
  }

  .navbar .search-from{
    display: none;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: calc(100% - 79%);; 
    z-index: 1000; 
    background-color: #ffffff; 
    padding: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }

  .navbar .search-from input {
    width: calc(100% - 40px); 
    margin-right: 10px; 
  }
  .navbar .search1{
    display: block;
    cursor: pointer;
  }
}
